body{
  padding: 5%;
  margin: 0;
  background-color: #a9a9a9;
  text-align: center;
}

.note{
  border: 1px solid rgb(61, 71, 109);
  border-radius: 5px;
  font-style: italic;
  text-align: left;
  padding: 8px;
  margin: 30px;
}
